#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Where is our Go Path?
export GOPATH := $(CURDIR)/debian/go
export GO15VENDOREXPERIMENT := 1
export GOPKG := github.com/acquia/statsgod

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure
	mkdir -p $(shell dirname $(GOPATH)/src/$(GOPKG))
	ln -s $(CURDIR)  $(GOPATH)/src/$(GOPKG)

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_build:
	go install $(GOPKG)

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/statsgod/usr/bin
	mkdir -p $(CURDIR)/debian/statsgod/etc/statsgod
	install -Dm755 $(GOPATH)/bin/statsgod $(CURDIR)/debian/statsgod/usr/bin/statsgod
	install -m644  $(CURDIR)/example.config.yml $(CURDIR)/debian/statsgod/etc/statsgod/config.yml

override_dh_auto_test:
	cd $(GOPATH)/src/$(GOPKG); go test -short `go list ./... |grep -v /vendor/ | grep -v /extras`

